*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Montserrat", sans-serif;
    background-color: #3A3A3A;
    user-select: none;
}

.dark-mode
{
    background-color: #B7F2C7;
}

.light
{
    color: #000000;
}

/*.app
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}

header h1
{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p
{
    font-size: 20px;
}

.pads
{
    background: lightblue;
    width: 100%;
    display: flex;
}

.pads > div
{
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1
{
    background: #60d394;
}

.pad2
{
    background: #d36060;
}

.pad3
{
    background: #c060d3;
}

.pad4
{
    background: #d3d160;
}

.pad5
{
    background: #6860d3;
}

.pad6
{
    background: #60b2d3;
}


.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

@keyframes jump
{
    0%
    {
        bottom: 0%;
        left: 20%;
    }

    50%
    {
        bottom: 50%;
        left: 50%;
    }

    100%
    {
        bottom: 0%;
        left: 80%;
    }
}*/

@media only screen and (min-width: 768px)       /*!Desktop View*/
{
    .mobile
    {
        display: none;
    }
    .title
    {
        text-align: center;
        color: #FFFFFF;
    }
    
    .title h1
    {
        margin-top: 20px;
        font-size: 40px;
    }
    
    .title h3
    {
        margin-top: 20px;
        font-size: 18px;
    }
    
    .toggleMode
    {
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .padsbox
    {
        width: 610px;
        height: 400px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .pad1
    {
        width: 190px;
        height: 190px;
        background-color: #EA6D6D;
        float: left;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad2
    {
        width: 190px;
        height: 190px;
        background-color: #6DEA89;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad3
    {
        width: 190px;
        height: 190px;
        background-color: #6DAEEA;
        float: left;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad4
    {
        width: 190px;
        height: 190px;
        background-color: #E0EA6D;
        float: left;
        margin-top: 20px;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad5
    {
        width: 190px;
        height: 190px;
        background-color: #EA6DBF;
        float: left;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad6
    {
        width: 190px;
        height: 190px;
        background-color: #A46DEA;
        float: left;
        margin-top: 20px;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .padsbox div:hover
    {
        box-shadow: 2px 2px 2px #000000;
    }
    
    
    .footer
    {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50px;
        background: #232323;
        color: #FFFFFF;
    }
    
    .footer a:nth-child(1)
    {
        float: left;
        margin-left: 20px;
        font-size: 16px;
        line-height: 50px;
    }
    
    .footer a:nth-child(2)
    {
        float: right;
        margin-right: 20px;
        font-size: 16px;
        line-height: 50px;
    }
    
    .footer img
    {
        width: 16px;
        height: 16px;
    }
    
    .fa
    {
        font-size: 32px;
        cursor: pointer;
        user-select: none;
        color: #FFFFFF;
    }
    
    .fa:hover
    {
        color: #6DAEEA;
    }
}

@media only screen and (max-width: 768px)       /*!Mobile View*/
{
    .desktop
    {
        display: none;
    }
    .title
    {
        text-align: center;
        color: #FFFFFF;
    }
    
    .title h1
    {
        margin-top: 20px;
        font-size: 40px;
    }
    
    .title h3
    {
        margin-top: 20px;
        font-size: 18px;
    }
    
    .toggleMode
    {
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .padsbox
    {
        width: 100%;
        height: 450px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        overflow-y: auto;
    }
    
    .pad1
    {
        width: 35%;
        height: 120px;
        margin-left: 10%;
        background-color: #EA6D6D;
        float: left;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad2
    {
        width: 35%;
        height: 120px;
        margin-left: 10%;
        background-color: #6DEA89;
        float: left;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad3
    {
        width: 35%;
        height: 120px;
        margin-left: 10%;
        margin-top: 30px;
        background-color: #6DAEEA;
        float: left;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad4
    {
        width: 35%;
        height: 120px;
        margin-left: 10%;
        margin-top: 30px;
        background-color: #E0EA6D;
        float: left;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad5
    {
        width: 35%;
        height: 120px;
        margin-left: 10%;
        margin-top: 30px;
        background-color: #EA6DBF;
        float: left;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .pad6
    {
        width: 35%;
        height: 120px;
        margin-left: 10%;
        margin-top: 30px;
        background-color: #A46DEA;
        float: left;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .padsbox div:hover
    {
        box-shadow: 2px 2px 2px #000000;
    }
    
    
    .footer
    {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 80px;
        background: #232323;
        color: #FFFFFF;
    }
    
    .footer a:nth-child(1)
    {
        position: absolute;
        font-size: 16px;
        line-height: 20px;
        top: 46px;
        left: 20px;
    }
    
    .footer a:nth-child(2)
    {
        position: absolute;
        font-size: 16px;
        line-height: 20px;
        top:10px;
        left: 20px;
    }
    
    .footer img
    {
        width: 16px;
        height: 16px;
    }
    
    .fa
    {
        font-size: 32px;
        cursor: pointer;
        user-select: none;
        color: #FFFFFF;
    }
    
    .fa:hover
    {
        color: #6DAEEA;
    }
}